
.css-10hburv-MuiTypography-root{
    font-size: 2rem !important;
}
.css-i4bv87-MuiSvgIcon-root{
    width: 2rem !important;
    height: 2rem !important;
}
.css-r40f8v-MuiTypography-root{
    font-size: 1.6rem !important;
}
.css-h93ljk-MuiTypography-root{
    font-size: 2rem !important;
}
.css-ahj2mt-MuiTypography-root{
    font-size: 2rem !important;
}
.card-video{
    width: 100%;
}