body {
    background-color: #f5f5f5;
}

.profile {
    width: 80%;
    margin: auto;
}

.user-general {
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    padding: 2rem 0;
    color: #777;
}

.user-avatar {
    width: 20%;
    text-align: center;
}

.wrapper-avatar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border: 1px dashed rgb(117, 114, 114);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-avatar>img {
    height: 10rem;
    width: 10rem;
}

.user-name {
    width: 50%;
    line-height: 3rem;
}

.wrapper-flex {
    display: flex;
    align-content: center;
}

.wrapper-edit {
    width: 30%;
}

.btn-edit {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: rgb(52, 189, 194);
    border: none;
    color: white;
    box-shadow: 0px 4px 2px rgb(30, 122, 145);
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-edit:active {
    border: 1px solid rgb(30, 122, 145);
    box-shadow: none;
}

.icon-medium {
    font-size: 1.8rem !important;
    margin-right: .5rem;
}

.user-detail {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.left-detail {
    width: 62%;
}

.grid-course {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: start;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: white;
}

.row-2 {
    width: 45%;
}

.row-1 {
    width: 70%;
}

.right-detail {
    width: 30%;
}

.list-course {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.title {
    font-size: 3rem;
}

.bg-white {
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
}